
{% extends 'base.html' %}

{% block content %}

<a href='/'>Back</a>
<hr>

<img src="img/Static/about.jpg" class="img-fluid" alt="Responsive image">
<br />


<div class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="about-title clearfix">
                        <h1>About Us <span></span></h1>
                        <h3>HerbalChai </h3>
                        <p class="about-paddingB">About Us

                                We are a group of tea lovers and tea farmers coming together to make your tea dreams come true.  Our goal is to put high quality tea into anyone's cup that appreciates tea and enjoys serving society.  Together, we can achieve tea greatness and enjoy the best cups of teas!</p>
                <div class="about"> 
                    <ul >
                        <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                        <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                        <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                        <li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                    </ul>       
       
       
       
       
    
    </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <div class="about-img">
                        <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
                    </div>
                </div>	
            </div>
        </div>
    </div>



    {% endblock %}