
{% extends 'base.html' %}

{% block content %}

<a href='/'>Back</a>
<hr>



<div class="gallery-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="gallery-title clearfix">
                        <h1>Gallery<span></span></h1>
                        <h3>HerbalChai </h3>
                        <div class="gallery"> 
                    <ul >
                        <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                        <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                        <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                        <li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                    </ul>       
       
       
       
       
    
    </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <p>
                     welcome
                    </p>
                </div>	
            </div>
        </div>
    </div>



    {% endblock %}